<tc-card class="mb-0" style="overflow: x 100px;;">
  <tc-table [rows]="patients" [hovered]="true" [pagination]="true" [headerBgColor]="'#336cfb'" [headerColor]="'#fff'">
    <tc-table-col [columnTitle]="'Picto'" [columnName]="''">
      <ng-template #tableTDTemplate let-value>
        <tc-avatar [src]="value"></tc-avatar>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'ID'" [columnName]="'id'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <strong>{{ value }}</strong>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'A imprimer'" [columnName]="'A imprimer'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span [tcColor]="'#a5a5a5'" #id>{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Libellé'" [columnName]="'Libellé'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Ref PE'" [columnName]="'Ref PE'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
  <tc-table-col [columnTitle]="'Ref Fournisseur'" [columnName]="'Ref Fournisseur'">
    <ng-template #tableTDTemplate let-value>
      <div class="address-col">{{ value }}</div>
    </ng-template>
  </tc-table-col>
   <tc-table-col [columnTitle]="'Ref LIMS'" [columnName]="'Ref LIMS'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Ref Lims'" [columnName]="'reflims'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Ref SP'" [columnName]="'Ref SP'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Type'" [columnName]="'Type'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Catégorie'" [columnName]="'Catégorie'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'DLV après ouverture'" [columnName]="'DLV après ouverture'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Nom fournisseur'" [columnName]="'Nom fournisseur'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Type de commande'" [columnName]="'Type de commande'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Gestion de stock'" [columnName]="'Gestion de stock'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Unité logistique'" [columnName]="'Unité logistique'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Stock mini'" [columnName]="'Stock mini'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Quantité de ré-appro'" [columnName]="'Quantité de ré-appro'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Lieu de stockage'" [columnName]="'Lieu de stockage'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Emplacement'" [columnName]="'Emplacement'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Etat'" [columnName]="'Etat'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
      <tc-table-col [columnTitle]="'FDS'" [columnName]="'FDS'">
        <ng-template #tableTDTemplate let-value>
          <div class="address-col">{{ value }}</div>
        </ng-template>
        <tc-table-col [columnTitle]="'Date de mise à jour FDS'" [columnName]="'Date de mise à jour FDS'">
          <ng-template #tableTDTemplate let-value>
            <div class="address-col">{{ value }}</div>
          </ng-template>
        </tc-table-col>
      </tc-table-col>
    </tc-table-col>
    <tc-table-col [columnTitle]="'DLV aprés ouvérture'" [columnName]="'DLV'">
      <ng-template #tableTDTemplate let-value>
        <div class="address-col">{{ value }}</div>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <a
            href="#"
            tc-button
            [routerLink]="['../', 'patient-profile',row.id]"
            [afterIcon]="'icofont-external-link'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
          ></a>

          <button
            tc-button
            [afterIcon]="'icofont-ui-edit'"
            [view]="'info'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="openModal(modalBody, 'Update patient info', modalFooter, row)"
          ></button>

          <button
            tc-button
            [afterIcon]="'icofont-ui-delete'"
            [view]="'error'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="remove(row.id)"
          ></button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
</tc-card>


<!-- edit patient Modal window -->
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="patientForm" novalidate class="new-patient-form">
      <tc-form-group class="avatar-box d-flex">
        <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>

        <tc-avatar [src]="currentAvatar"></tc-avatar>
        <button
          tc-button
          [type]="'button'"
          [afterIcon]="'icofont-ui-user'"
          [view]="'accent'"
          [outline]="true"
          (click)="fileInput.click()"
        >
          Select image
        </button>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Name'" formControlName="name"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Number'" [type]="'number'" formControlName="number"></tc-input>
      </tc-form-group>

      <div class="row">
        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-input [placeholder]="'Age'" [type]="'number'" formControlName="age"></tc-input>
          </tc-form-group>
        </div>

        <div class="col-12 col-sm-6">
          <tc-form-group>
            <tc-select [placeholder]="'gender'" formControlName="gender" [options]="gender"></tc-select>
          </tc-form-group>
        </div>
      </div>

      <tc-form-group>
        <tc-select [placeholder]="'Status'" formControlName="status" [options]="status"></tc-select>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <tc-textarea [placeholder]="'Address'" formControlName="address"></tc-textarea>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
      <button tc-button [view]="'info'" [disabled]="patientForm.invalid" (click)="updatePatient(patientForm)">
        Sauvegarder
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->
