<tc-card class="mb-0">
  <tc-table [rows]="appointments" [hovered]="true" [pagination]="true">
    
    <tc-table-col [columnTitle]="'Id'" [columnName]="'ID'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <strong>{{ value }}</strong>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Libellé'" [columnName]="'Libellé'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
          <tc-icon [iconClass]="'icofont-ui-email'" [tcFontSize]="16" [padding]="0" class="me-1"></tc-icon> {{ value }}
        </span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'REF PE'" [columnName]="'Ref PE'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'REF CAS'" [columnName]="'Ref Fournisseur'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'REF LIMS'" [columnName]="'REF LIMS'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'REF SP'" [columnName]="'REF SP'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'REF LIMS'" [columnName]="'REF LIMS'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'REF L'" [columnName]="'REF L'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
      <tc-table-col [columnTitle]="'REF Lss'" [columnName]="'REF Lss'" [enableSorting]="true">
        <ng-template #tableTDTemplate let-value>
          <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
        </ng-template>
      </tc-table-col>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Lss'" [columnName]="'REF Lss'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Ls2'" [columnName]="'REF Ls2'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Ls3'" [columnName]="'REF Ls3'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Ls3'" [columnName]="'REF Ls3'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Ls4'" [columnName]="'REF Ls4'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Ls5'" [columnName]="'REF Ls5'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Ls6'" [columnName]="'REF Ls6'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Ls7'" [columnName]="'REF Ls7'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Ls8'" [columnName]="'REF Ls8'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'REF Ls9'" [columnName]="'REF Ls9'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    

    
    <tc-table-col [columnTitle]="'REF Ls10'" [columnName]="'REF Ls10'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>




    <tc-table-col [columnTitle]="'REF Ls11'" [columnName]="'REF Ls11'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>


    <tc-table-col [columnTitle]="'REF Ls13'" [columnName]="'REF Ls10'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>




    <tc-table-col [columnTitle]="'REF Ls13'" [columnName]="'REF Ls11'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    


    <tc-table-col [columnTitle]="'REF Ls14'" [columnName]="'REF Ls10'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>




    <tc-table-col [columnTitle]="'REF Ls14'" [columnName]="'REF Ls11'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>




    <tc-table-col [columnTitle]="'REF Ls13'" [columnName]="'REF Ls10'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>




    <tc-table-col [columnTitle]="'REF Ls1'" [columnName]="'REF Ls11'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

    
    <tc-table-col [columnTitle]="'REF Ls12'" [columnName]="'REF Ls12'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>

      <tc-table-col [columnTitle]="'REF LIMS'" [columnName]="'REF LIMS'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Ref SP'" [columnName]="'Ref SP'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Type'" [columnName]="'Type'">
      <ng-template #tableTDTemplate let-value>
        <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
          <tc-icon [iconClass]="'icofont-ui-cell-phone'" [tcFontSize]="16" [padding]="0" class="me-1"></tc-icon>
          {{ value }}
        </span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Catégorie'" [columnName]="'Catégorie'" [enableSorting]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'Injury / Condition'" [columnName]="'injury'" [enableSorting]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button
            tc-button
            [afterIcon]="'icofont-ui-edit'"
            [view]="'info'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="edit(row)"
          ></button>

          <button
            tc-button
            [afterIcon]="'icofont-ui-delete'"
            [view]="'error'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="remove(row)"
          ></button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
</tc-card>

<div class="add-action-box">
  <button
    tc-button
    [afterIcon]="'icofont-stethoscope-alt'"
    [view]="'accent'"
    [square]="true"
    [tcShape]="500"
    (click)="openModal(modalBody, 'Ajouter un réactif', modalFooter)"
  ></button>
</div>

<!-- Modal window -->
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="appointmentForm" novalidate>
      <tc-form-group class="avatar-box d-flex">
        <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>

      <!--   <tc-avatar [src]="appointmentForm.value.img"></tc-avatar>
        <button tc-button [type]="'button'" [afterIcon]="'icofont-ui-user'" [view]="'accent'" [outline]="true" (click)="fileInput.click()">
          Select image
        </button> -->
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="''" formControlName="name"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-autocomplete [placeholder]="''" [data]="doctors" [key]="'name'" formControlName="doctor"></tc-autocomplete>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="''" formControlName="email"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="''" formControlName="date"></tc-input>
      </tc-form-group>

      <div class="row">
        <div class="col col-md-6">
          <tc-form-group>
            <tc-input [placeholder]="''" formControlName="from"></tc-input>
          </tc-form-group>
        </div>

        <div class="col col-md-6">
          <tc-form-group>
            <tc-input [placeholder]="''" formControlName="to"></tc-input>
          </tc-form-group>
        </div>
      </div>

      <tc-form-group>
        <tc-input [placeholder]="''" formControlName="number"></tc-input>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <tc-input [placeholder]="''" formControlName="injury"></tc-input>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
      <button tc-button [view]="'info'" [disabled]="appointmentForm.invalid" (click)="addAppointment(appointmentForm)">
        Ajouter un réactif
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->
